@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #777;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.max-content {
  max-width: 1340px;
  width: 100%;
  padding: 24px 12px;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
  align-self: center;
}

.header, .footer {
  background-color: #FBDEDE;
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #777;
  box-shadow: 0 0 16px rgb(0, 0, 0, .2);
}

.content {
  flex-grow: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  max-height: 50px;
  max-width: 250px;
  display: flex;
  align-items: flex-start;
}

.header__logo img {
  max-height: 65px;
}

.header__left-column {
  flex: 0 1 30%;
}

.header__right-column {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 1 70%;
}

.header__right-column__top, .header__right-column__bottom {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__right-column__top {
  align-items: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
}

.header__shopping-cart img {
  width: 32px;
}

.header__shopping-cart {
  display: inherit;
  position: relative;
}

.header__shopping-cart__couner {
  min-width: 28px;
  height: 28px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}

.footer {
  padding-top: 48px;
  background-color: #fafafa;
  border-top: 1px solid #ececec;
  box-shadow: none;
}

.footer__wrapper {
  width: 100%;
}

.footer__contact-info {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.footer__right-content, .footer__left-content {
  flex: 0 1 50%;
}

.footer__right-content ul li {
  font-size: 16px;
  margin-bottom: 24px;
}

.footer__politics-info {
  border-top: 1px solid #ececec;
  padding: 48px 0;
}

.footer__politics {
  display: flex;
  justify-content: space-between;
}

.header__nav__list, .footer__nav__list {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  height: 100%;
}

.footer__nav__list {
  justify-content: flex-start;
}

.footer__nav__list li a {
  margin: 8px 12px;
  position: relative;
}

.header__nav__list li a::before, .footer__nav__list li a::before {
  content: "";
  width: 0%;
  transition: .25s;
  position: absolute;
  left: 0;
  background-color: #777;
  bottom: 0;
  height: 1px;
}

.header__nav__list li a:hover:before, .footer__nav__list li a:hover:before {
  width: 100%;
}


.header__right-column__bottom a {
  position: relative;
  margin: 12px 8px;
}

.sales__title, .popular__title {
  font-weight: bold;
  font-size: 28px;
  margin: 16px 0 0 0;
  color: #777;
}

.content__cards {
  display: flex;
  max-width: 1340px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  color: #000;
  min-height: 300px;
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  margin: 0 4px;
  padding: 16px;
  transition: box-shadow ease .3s;
}

.card:hover {
  box-shadow: 0 2px 12px rgb(0 0 0 / 40%);
}

.card__content {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__title {
  font-size: 18px;
  margin: 8px 0;
}

.card__description {
  margin: 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.card__image {
  height: 170px;
  object-fit: cover;
  object-position: center;
  display: flex;
  align-items: center;
}

.card__price {
  justify-self: flex-end;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
}

.carousel-container {
  width: 100%;
  height: 100%;
  padding: 24px 0;
}

.carousel-item {
  width: 250px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .footer__contact-info {
    flex-direction: column;
    align-items: center;
  }

  .footer__left-content {
    margin: 0 0 24px 0;
  }

  .footer__nav__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__nav__list li {
    margin: 0 0 8px 0;
  }

  .footer__politics {
    flex-direction: column;
    align-items: center;
  }

  .footer__politics span:last-child {
    padding-top: 32px;
  }
}